.ControlsWrapper {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  bottom: 0;
  padding: 30px 5px 5px 5px;
  height: 55px;
  width: calc(100% - 10px);
  z-index: 10;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.ControlsWrapperActive {
  opacity: 1;
}
